<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>wFWu796esu51fB35H8oCopPIJnw7hGWt</string>
  <key>Domain</key>
  <string>tkleingers.auth0.com</string>
</dict>
</plist>